* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body, canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
canvas {
    background-color: rgb(31, 18, 34);
}
.gameUI {
    position: absolute;
    top: 20%;
    left: 0px;
    width: 100%;
    color: rgb(255, 0, 0);
    background-color: transparent;
    font-size: 50px;
    font-family: cursive, Helvetica, sans-serif;
    text-align: center;
    z-index: 10;
}
.BtnPlay {
    width: 110px;
    height: 45px;
    color: rgb(0, 255, 0);
    background-color: transparent;
    font-size: 50px;
    font-family: cursive, Helvetica, sans-serif;
    border: none;
}

.PlayerController {
    position: fixed;
    left: 0px;
    bottom: 10vh;
    width: 100%;
    flex-direction: row;
    z-index: 1;
}
.LeftController {
    width: 140px ;
    flex-direction: row;
}
.RightController {
    height: 140px;
    flex-direction: column;
}
.PlayerController, .LeftController, .RightController {
    display: none;
    align-items: center;
    justify-content: space-around;
}
.Btn {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.BtnLeft {
    background-image: url("../Assets/Buttons/BtnLeft.png");
}
.BtnRight {
    background-image: url("../Assets/Buttons/BtnRight.png");
}
.BtnUp {
    background-image: url("../Assets/Buttons/BtnUp.png");
}
.BtnDown {
    background-image: url("../Assets/Buttons/BtnDown.png");
}

@media screen and (max-width: 768px)
{
    .PlayerController, .LeftController, .RightController {
        display: flex;
    }
}